<script setup lang="ts">
import booksObj from "@/assets/books.json";
console.log(booksObj);
const bookKeys = Object.keys(booksObj);
const rand = (max: number) => Math.floor(Math.random() * max);
const randImg = () => `/src/assets/book-${rand(4) + 1}.jpg`;
</script>

<template>
  <main data-view="My books view">
    <!--
    grid auto-fit
    https://github.com/tailwindlabs/tailwindcss/discussions/5541
    -->
    <section
      class="grid grid-cols-1 sm:grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-4 p-2"
    >
      <div
        v-for="key in bookKeys"
        :key="key"
        class="bg-white rounded-xl shadow-md max-w-2xl min-w-[300px] flex flex-col divide-y p-2"
      >
        <div class="rounded-xl" :title="booksObj[key]?.title ?? 'UnKnow'">
          <img
            alt="booksObj[key]?.title ?? 'Book cover'"
            :src="randImg()"
            class="w-full h-80 object-scale-down object-top"
          />
        </div>
        <div>
          <p
            class="w-full font-bold text-2xl truncate"
            :title="booksObj[key]?.title ?? 'UnKnow'"
          >
            {{ booksObj[key]?.title }}
          </p>
          <p class="font-medium">Authors</p>
          <div class="w-full flex gap-2 flex-wrap">
            <span
              v-for="author in booksObj[key]?.authors"
              :key="author?.fl"
              class="rounded-3xl px-2 bg-amber-500 text-white text-xs"
            >
              {{ author?.fl }}
            </span>
          </div>
          <p class="font-medium">Generes</p>
          <div class="w-full flex gap-2 flex-wrap">
            <span
              v-for="genere in booksObj[key]?.genre"
              :key="genere"
              class="rounded-3xl px-2 bg-blue-400 text-xs"
            >
              {{ genere }}
            </span>
          </div>
        </div>
      </div>
    </section>
  </main>
</template>
